.content-page {
    min-height: calc(100vh - 330px);
    padding-top: 50px;
}

.step-description{
    border-top: none !important; 
}
.invalid-feedback{
  color: #a94442;
}
.checkout-page{
  max-width: 700px;
}
.container-page{
  display: flex;
  justify-content: center;
}
.form-select{
  margin: unset; border-radius: 10px;
}
.title-steps{
  padding: 15px 25px;
  font-weight: bold !important;
  font-size: 20px !important; 
}
.content-footer a{
  color: #f7544a !important;
}
label {
    font-size: 13px !important;
}

.text-notification{
    font-size: 16px;
}

.profile{
  font-size: 12px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.profile span {
  margin-left: 4px;
}