.flat-caption p{
    font-size: 18px !important;
}

.start-container .fa-star, .start-container .fa-star-half-alt{
    color: #F5A623 !important;
}
.start-container .none {
    color: #b1b1b1 !important;
}
.button_group {
    padding-bottom:  10px;
}